streamlit==1.30.0
joblib==1.3.2
xgboost==2.0.3
tensorflow==2.9
keras==2.9
numpy==1.22.3
pandas==1.4.2
scikit-learn==1.0.2
matplotlib==3.7.4
seaborn==0.13.1
mlflow==2.9.2
protobuf==3.20
optuna==3.5.0


# when training on GPU tf mustbe 2.10
# if we want to throw it into prodcution we need tf 2.9 becase of the protobuf incompatibilty with streamlit